{% extends 'base.html' %}

{% block content %}

<style>
    .panel {
    border: 1px solid #ccf2ff;
    border-radius:0;
    transition: box-shadow 0.5s;
    }

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }


    .panel-heading a {
        color: #fff;
    }

    .panel-heading {
        color: #fff !important;

        background-color: #4dd2ff !important;
        padding: 3px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }


</style>


<h1>Welcome to Book Club!</h1>
{% if success %}
    <div class="alert alert-success" role="alert">
        {{ success }}
    </div>
{% endif %}

<a class="btn btn-primary" href="{% url 'books:create' %}">Add new Book</a>

<h2>Our new books</h2>

{% for book in books %}

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1><a href="{% url 'books:book_info' book.id %}">{{ book.book_name }}</a></h1>
        </div>
        <div class="panel-body">
          <p><strong>Book author:</strong> {{ book.book_author}}</p>
          <p><span style="font-size:20px;" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><strong> We recommended book:</strong> {{ book.recommend_total}} times</p>
          <p><strong>Published</strong> {{ book.pub_date_pretty }} by {{ book.user_name}}</p>
        </div>

      </div>
    </div>
  </div>
</div>

{% endfor %}

{% if books.has_other_pages %}
  <ul class="pagination">
    {% if books.has_previous %}
      <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if books.has_next %}
      <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}


